<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaAcademico.Properties.Settings.StringConexao"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SistemaAcademico;Persist&#xA;Security Info=True;User ID=sa;Password=j###1j1###j" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>